@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --background: #ffffff;
  --text-primary: #212529;
  --text-secondary: #6c757d;
  --primary: #0d6efd;
  --accent: #fd7e14;
  --grey: #e2e2e2;
  --light-grey: #f8f9fa;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

h2 {
  text-align: center;
  color: var(--text-primary);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}
